@{
    ViewBag.Title = "Home";
}
<h2>Home page content</h2>

@section Footer{
    <h6><a href="/Home/Index">Home page</a> | <a href="/Home/About">About page</a></h6>
    <h6>Copyright &copy; MySite @DateTime.Now.Year All rights reserverd</h6>
}
