@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<string>

<h2>Our works</h2>
<ul>
    @foreach(string item in Model)
    {
        <li>@item</li>
    }
</ul>